# Copyright 2023 pitankar@gmail.com
#
# Permission is hereby granted, free of charge,
# to any person obtaining a copy of this software
# and associated documentation files (the "Software"),
# to deal in the Software without restriction,
# including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit
# persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission
# notice shall be included in all copies or
# substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY
# OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
# LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
# BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE
# OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

# Pin configuration for iCE40HX-8K Alchitry-IO

set_io clk              P7
set_io reset_n          P8

set_io ioboard_leds[0]  G14
set_io ioboard_leds[1]  F14
set_io ioboard_leds[2]  E12
set_io ioboard_leds[3]  E14
set_io ioboard_leds[4]  D14
set_io ioboard_leds[5]  C14
set_io ioboard_leds[6]  B14
set_io ioboard_leds[7]  A12
set_io ioboard_leds[8]  C10
set_io ioboard_leds[9]  C9
set_io ioboard_leds[10] A11
set_io ioboard_leds[11] A10
set_io ioboard_leds[12] A7
set_io ioboard_leds[13] A6
set_io ioboard_leds[14] A4
set_io ioboard_leds[15] A3
set_io ioboard_leds[16] A2
set_io ioboard_leds[17] A1
set_io ioboard_leds[18] C3
set_io ioboard_leds[19] D3
set_io ioboard_leds[20] B1
set_io ioboard_leds[21] C1
set_io ioboard_leds[22] D1
set_io ioboard_leds[23] E1
